@model IEnumerable<BCPAO.PermitManager.Data.BuildingPermit>

@{
    ViewData["Title"] = "Index";
}

<h2>Permit Data Preview</h2>

@*<p><a asp-action="Create">Create New</a></p>*@

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PropertyId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParcelId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PermitNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PermitStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IssueDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FinalDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PermitValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PermitDesc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PermitCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DistrictAuthority)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParcelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermitNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermitStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermitValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermitDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermitCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistrictAuthority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PermitId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PermitId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PermitId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
